doctype html
html
    head
        title Welcome Shruti
        link(rel="stylesheet",href="main.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(type="text/javascript" src="app.js")
    body
        div(id="side-panel")
            div(id="title" class="text") A Newb's Pen
            div(id="tag" class="text" ) Let's learn together
            div(class="text") home
            div(class="text") articles
            div(class="text") author
        div(id="author-info")
            div(id="author") Author
            img(id="author-image" src="dahlias-red-white.jpg")
            div(id="author-name") Shruti Uppin
            div(id="author-name") Senior Software Engineer, RBEI
            div(id="author-name") Alumni'15, NIE Mysore
            ul(class="social-media")
                a(href="https://www.instagram.com/shruti.uppin/" target="_blank")
                    li(class="fa fa-instagram")
                a(href="https://www.facebook.com/shruti.uppin" target="_blank")
                    li(class="fa fa-facebook")
                a(href="https://stackoverflow.com/users/5238075/su15" target="_blank")
                     li(class="fa fa-stack-overflow")
                a(onclick="callPopup()")
                     li(class="fa fa-linkedin")
                a(href="https://bitbucket.org/shrutiuppin/" target="_blank")
                     li(class="fa fa-bitbucket")
            div(id="popup" onclick="closePopup()")
        div(id="footer")
            div(id='circle') S