*{
    margin: 0;
}

html,body{
    height:100%;
    width:100%;

}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#side-panel{
    background:#141414;
    // width:40%;
    // min-height:100%;
    // float:left;
    color:white;
    text-align: right;
    flex:2;
}

#author-info{
    // width:60%;
    // no -height , what if content is more than 100%
    min-height:95%;
    // float:right;
    text-align: center;
    //position: relative;
    flex:3;
}

#footer{
    // position:fixed;
    // bottom: 0;
    height: 5%;
    background-color:#141414;
    // width:100%;
    flex:5;
    flex-basis: 100%;
}

#popup{
    height: 100px;
    position: fixed;
    width: 40%;
    line-height: 100px;
    text-align: center;
    z-index: 100;
    color: #fff;
    display: none;
    // use vh so that it is in vertical middle of the screen
    top: 40vh;
    right: 10%;
    background: black;
}

#popup:before{
    content: "Loading";
}

#circle{
    background-color:white;
    width:10px;
    border-radius: 50%;
    margin-left: 8px;
    font-size:13px;
    padding:2px;
    margin-top:2px;
}

.text{
    margin-right:5%;
    margin-bottom: 3%;
}

#title{
    font-size: 35px;
    margin-top: 35%;
    margin-bottom: 6%;
}

#tag{
    font-size: 20px;
    margin-bottom: 6%;
}

#author{
    margin-top: 12%;
    margin-bottom: 2%;
    font-size: 35px;
}

#author-image{
    height:200px;
    width:200px;
    border-radius: 50%;
}

#author-name{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}

.fa{
    margin:2%;
}

ul{
    padding:0;
    margin-bottom: 40px;
}

a{
    color:grey;
    &:hover{
        color:black;
    }
}

@media screen and (max-width: 700px){

    #side-panel{
        width:100%;
        height:289px;
        text-align: center;
        min-width: 228px;
    }

    #author-info{
        position: absolute;
        top:55%;
        width:100%;
        min-width: 228px;
    }

    #title{
        margin-top: 55px;
        margin-bottom: 15px;
    }

    #tag{
        margin-bottom: 20px;
    }

    .text{
    margin-right:10px;
    margin-bottom: 15px;
}
}
